<!DOCTYPE html>
<html lang="pt-br">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Dinner Boss</title>
 
    <!-- Estilos -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
 
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>    
    <script src="https://kit.fontawesome.com/92fd3400ef.js" crossorigin="anonymous"></script>
</head>
 
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="./index.html"><img src="img/logo-dinner.png" alt="" width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-menu" aria-current="page" href="#">Restaurantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-menu active" href="#">Faça sua reserva!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-menu" href="./cadastro-restaurante.html">Cadastre seu restaurante</a>
                    </li>
                </ul>
                <ul class="d-flex">
                    <button href="" class="btn btn-login" type="submit">Login</button>
                </ul>
            </div>
            </div>
        </nav>
    </header>
 
 
    <body>
        <div class="client-w">
            <form name="form-cliente">
 
            <h1>Perfil do Cliente</h1>
 
            <label for="nome">Nome</label>
            <input type="text" id="nomeid" placeholder="Claudia Moura" required="required" name="nome">
 
            <label for="email">E-mail</label>
            <input type="email" id="emailid" placeholder="claudia-moura@mail.com" name="email" />
 
            <label for="cpf">Cpf</label>
            <input type="cpf" id="cpfclienteid" placeholder="156.523.782-45" name="cpfcliente" />
 
 
            <label for="dtnascimento">Data de Nascimento</label>
            <input type="Data de Nascimento" id="nascid" placeholder="20/03/1981" name="datadenascimento" />
 
            <label for="telefone">Telefone</label>
            <input type="Telefone" id="telefoneid" placeholder="(31) 99678-4520" name="telefone" />
 
            <label for="telefone1">Telefone 2</label>
            <input type="Telefone" id="telefone1id" placeholder="" name="telefone1" />
 
 
            <label for="usuario">Usuário</label>
            <input type="Usuário" id="usuarioid" placeholder="claudia-moura" name="usuario" />
 
            <label for="senhacliente">Senha</label>
            <input type="Senha" id="senhaclienteid" placeholder="*******" name="senha" />
 
 
            <input type="submit" class="Alterarsenha" onclick="Enviar();" value="Alterar senha">
 
            <input type="submit" class="Minhasreservas" onclick="Enviar();" value="Minhas Reservas"/>
 
 
 
 
        </form>
 
    </body>
 
 
 
    <footer>
        <div id="footer-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <a><h3>Dinner Boss</h3></a>
                    </div>
                    <div class="col-md-6 footer-sociais">
                        <a class="link-sociais" href="#"><i class="fab fa-whatsapp"></i></a>
                        <a class="link-sociais" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="link-sociais" href="#"><i class="fab fa-instagram"></i></a>
                    </div>                            
                </div>
            </div>
        </div>
    </footer>
 
</body>
 
</html>